<!-- 
===========================================
#  auther: RITESH SINGH                   #
#  User App html                          #
#                                         #
===========================================
 -->
<!DOCTYPE div PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<div th:replace="commonComponent :: commonCss"></div>
</head>
<body >
	<div th:replace="partialComponent :: _header"></div>
	<div><!-- body content --></div>
	<div th:replace="partialComponent :: _footer"></div>
</body>
<div th:replace="commonComponent :: angulerMvc"></div>
</html>