<div th:fragment="title">
	<title>Template</title>
</div>

<div th:fragment="cssLive404Load">

	<meta name="viewport" content="width=device-width, initial-scale=1" >
	<link rel="stylesheet" type="text/css"
		th:href="@{/resources/angular/css/bootstrap.min.css}"
		href="/resources/angular/css/bootstrap.min.css" />
	
	<link rel="stylesheet" type="text/css"
		th:href="@{/resources/angular/css/font-awesome.min.css}"
		href="/resources/angular/css/font-awesome.min.css" />
	
	<link rel="stylesheet" type="text/css"
		th:href="@{/resources/angular/css/fontscss.css}"
		href="/resources/angular/css/fontscss.css" />
		
	<link rel="stylesheet" type="text/css"
		th:href="@{/resources/angular/css/fontsOxygenCss.css}"
		href="/resources/angular/css/fontsOxygenCss.css" />
	
	<link th:href="@{/resources/angular/css/live.css}"
		href='/resources/angular/css/live.css' rel='stylesheet'
		type='text/css'>
		
</div>

<div th:fragment="angulerMvc">

	<!-- <script type="text/javascript" src="https://code.angularjs.org/1.4.4/angular.min.js"></script> -->
	<script type="text/javascript"
		th:src="@{/resources/angular/js/angular-1.4.4.min.js}"
		src="/resources/angular/js/angular-1.4.4.min.js"></script>
	
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0/angular-ui-router.min.js"></script> -->
	<script type="text/javascript"
		th:src="@{/resources/angular/js/angular-ui-router.min.js}"
		src="/resources/angular/js/angular-ui-router.min.js"></script>
	
	<!-- <script type="text/javascript" src="https://code.angularjs.org/1.4.4/angular-route.min.js"></script> -->	
	<script type="text/javascript"
		th:src="@{/resources/angular/js/angular-route-1.4.4.min.js}"
		src="/resources/angular/js/angular-route-1.4.4.min.js"></script>
	
	<!-- <script type="text/javascript" src="https://code.angularjs.org/1.4.4/angular-resource.min.js"></script> -->
	<script type="text/javascript"
		th:src="@{/resources/angular/js/angular-resource-1.4.4.min.js}"
		src="/resources/angular/js/angular-resource-1.4.4.min.js"></script>
	
	<script type="text/javascript"
		th:src="@{/resources/angular-mvc/js/views/_comman.js}"
		src="/resources/angular-mvc/js/views/_comman.js"></script>
	
	<script type="text/javascript"
		th:src="@{/resources/angular-mvc/js/views/user.js}"
		src="/resources/angular-mvc/js/views/user.js"></script>
	
	<script type="text/javascript"
		th:src="@{/resources/angular-mvc/js/userApp.js}"
		src="/resources/angular-mvc/js/userApp.js"></script>
		
	<script type="text/javascript"
		th:src="@{/resources/angular-mvc/js/service/usrService.js}"
		src="/resources/angular-mvc/js/service/usrService.js"></script>	
	
	<script type="text/javascript"
		th:src="@{/resources/angular-mvc/js/service/authService.js}"
		src="/resources/angular-mvc/js/service/authService.js"></script>	
		
	<script type="text/javascript"
		th:src="@{/resources/angular-mvc/js/controller/usrController.js}"
		src="/resources/angular-mvc/js/controller/usrController.js"></script>	
	
</div>
