<!DOCTYPE div PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<div th:replace="userComponent :: cssLive404Load"></div>
</head>
<body ng-app="userApp">
	<div class="container" >
		<div class="row">
			<div class="col-md-12">
				<div class="error-template">
					Cooler <span>{{$data.pageTitle}}</span>
				</div>
				<!-- this is use in case of $route -->
				<div ng-view></div>
				<!-- this is use in case of $state -->
				<div ui-view></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4"><div ui-view="header"></div></div>
			<div class="col-sm-4"><div ui-view="content"></div></div>
			<div class="col-sm-4"><div ui-view="footer"></div></div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			</div>
		</div>
	</div>
</body>
<div th:replace="userComponent :: angulerMvc"></div>
</html>