<!-- 
===========================================
#  auther: RITESH SINGH                   #
#  this file contains common css and js   #
#                                         #
===========================================
 -->
<div th:fragment="commonCss">

	<meta name="viewport" content="width=device-width, initial-scale=1" >
	<link rel="stylesheet" type="text/css"
		th:href="@{/resources/angular/css/bootstrap.min.css}"
		href="/resources/angular/css/bootstrap.min.css" />
	<!-- ================Material Design============================ -->	
	<link rel="stylesheet" type="text/css"
		th:href="@{/resources/material/mdl/material.min.css}"
		href="/resources/material/mdl/material.min.css" />
	
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">	
	
	<link rel="stylesheet" type="text/css"
		th:href="@{/resources/material/mdl/icon.css}"
		href="/resources/material/mdl/icon.css" />	
	
	<!-- ================Material Design============================ -->
	
	<link rel="stylesheet" type="text/css"
		th:href="@{/resources/angular/css/font-awesome.min.css}"
		href="/resources/angular/css/font-awesome.min.css" />
	
	<link rel="stylesheet" type="text/css"
		th:href="@{/resources/angular/css/fontscss.css}"
		href="/resources/angular/css/fontscss.css" />
		
</div>

<div th:fragment="angulerMvc">

	<script type="text/javascript"
		th:src="@{/resources/material/mdl/material.min.js}"
		src="/resources/material/mdl/material.min.js"></script>

	<script type="text/javascript"
		th:src="@{/resources/angular/js/angular-1.4.4.min.js}"
		src="/resources/angular/js/angular-1.4.4.min.js"></script>
	
	<script type="text/javascript"
		th:src="@{/resources/angular/js/angular-ui-router.min.js}"
		src="/resources/angular/js/angular-ui-router.min.js"></script>
		
	<script type="text/javascript"
		th:src="@{/resources/angular/js/angular-route-1.4.4.min.js}"
		src="/resources/angular/js/angular-route-1.4.4.min.js"></script>
	
	<script type="text/javascript"
		th:src="@{/resources/angular/js/angular-resource-1.4.4.min.js}"
		src="/resources/angular/js/angular-resource-1.4.4.min.js"></script>
	
	<script type="text/javascript"
		th:src="@{/resources/angular-mvc/js/views/_common.js}"
		src="/resources/angular-mvc/js/views/_common.js"></script>
	
</div>
