<!-- 
===========================================
#  auther: RITESH SINGH                   #
#  User Module router controller service  #
#                                         #
===========================================
 -->
<div th:fragment="title">
	<title>Template</title>
</div>

<div th:fragment="userAngulerMvc">

	<script type="text/javascript"
		th:src="@{/resources/angular-mvc/js/views/user.js}"
		src="/resources/angular-mvc/js/views/user.js"></script>
	
	<script type="text/javascript"
		th:src="@{/resources/angular-mvc/js/userApp.js}"
		src="/resources/angular-mvc/js/userApp.js"></script>
		
	<script type="text/javascript"
		th:src="@{/resources/angular-mvc/js/service/usrService.js}"
		src="/resources/angular-mvc/js/service/usrService.js"></script>	
		
	<script type="text/javascript"
		th:src="@{/resources/angular-mvc/js/controller/usrController.js}"
		src="/resources/angular-mvc/js/controller/usrController.js"></script>
		
	<script type="text/javascript"
		th:src="@{/resources/angular-mvc/js/service/authService.js}"
		src="/resources/angular-mvc/js/service/authService.js"></script>		
</div>
